<ng-template #titleTemplate let-text="title">
    <h4 class="p-2 bg-success text-white">{{text}}</h4>
</ng-template>

<ng-template [ngTemplateOutlet]="titleTemplate"
             [ngTemplateOutletContext]="{title: 'Nagłówek'}">
</ng-template>

<div class="text-white m-2">
    <div class="bg-info p-2">
        Mamy {{getProductCount()}} produktów.
    </div>
</div>

<ng-template [ngTemplateOutlet]="titleTemplate"
             [ngTemplateOutletContext]="{title: 'Stopka'}">
</ng-template>

<table class="table table-sm table-bordered mt-1">
    <tr class="text-dark">
        <th></th><th>Produkt</th><th>Kategoria</th><th>Cena</th>
    </tr>
    <tr *ngFor="let item of getProducts(); let i = index; let odd = odd;
            let first = first; let last = last"
            class="text-white" [class.bg-primary]="odd" [class.bg-info]="!odd"
            [class.bg-warning]="first || last">
        <td>{{ i + 1 }}</td>
        <td>{{item.name}}</td>
        <td>{{item.category}}</td>
        <td *ngIf="!last">{{item.price}}</td>
    </tr>
</table>



<!-- <div [ngClass]="'text-white m-2 p-2 ' + getClasses()">
    Model zawiera {{model.getProducts().length}} produktów.
</div>
<div class="form-group m-2">
    <label>Produkt</label>
    <input class="form-control" [value]="model.getProduct(1)?.name || 'Brak'" />
</div> -->

<!-- <div class="text-white m-2">
    <div [class]="getClasses(1)">
        Pierwszy produkt to {{model.getProduct(1).name}}.
    </div>
    <div class="p-2"
        [class.bg-success]="model.getProduct(2).price < 50"
        [class.bg-info]="model.getProduct(2) >= 50">
        Drugi produkt to {{model.getProduct(2).name}}
    </div>
</div> -->

<!-- <div class="text-white m-2">
    <div class="p-2" [ngClass]="getClassMap(1)">
        Pierwszy produkt to {{model.getProduct(1).name}}.
    </div>
    <div class="p-2" [ngClass]="getClassMap(2)">
        Drugi produkt to {{model.getProduct(2).name}}.
    </div>
    <div class="p-2" [ngClass]="{'bg-success': model.getProduct(3).price < 50,
                                'bg-info': model.getProduct(3).price >= 50}">
        Trzeci produkt to {{model.getProduct(3).name}}
    </div>
</div> -->

<!-- <div class="text-white m-2">
    <div class="p-2 bg-warning">
        <span [ngStyle]="getStyles(1)">Pierwszy</span>
        produkt to {{model.getProduct(1).name}}.
    </div>
    <div class="p-2 bg-info">
        <span [ngStyle]="getStyles(2)">Drugi</span>
        produkt to {{model.getProduct(2).name}}.
    </div>
</div> -->

<!-- <div class="text-white m-2">
    <div [ngClass]="getClassesByPosition(0)">
        Pierwszy produkt to {{getProductByPosition(0).name}}.
    </div>
    <div [ngClass]="getClassesByPosition(1)">
        Drugi produkt to {{getProductByPosition(1).name}}
    </div>
</div> -->